- extend LinkHelper
#banner
  .banner.background-1.active
    .container
      #find_me_on.center.pull-right
        :sass
          #find_me_on
            .section-header
              font-family: 'Brain Flower'
              font-size: 120px
            ul
              list-style: none
              padding: 0
              li
                display: block
                margin-bottom: 25px
        .section-header
          Find Me On
        %ul
          %li
            = facebook_link do
              = image_tag 'facebook_full.png'
          %li
            = youtube_link do
              = image_tag 'youtube_full.png'
          %li
            = twitter_link do
              = image_tag 'twitter_full.png'
          %li
            = itunes_link do
              = image_tag 'itunes_full.png'
          %li
            = instagram_link do
              = image_tag 'instagram_full.png'
  .banner.background-2
    .container
      Banner 2
  .banner.background-3
    .container
      Banner 3
  .nav
    = link_to '#', onclick: 'nextBanner()', class: 'previous' do
      = image_tag 'prev-banner.png'
    = link_to '#', onclick: 'previousBanner()', class: 'next' do
      = image_tag 'next-banner.png'
:coffee
  require ['banners']