#header
  .container
    %nav.span-18
      = render :logo
      #header-nav
        #nav-links
          %ul
            %li
              = facebook_link do
                = image_tag 'fb-dark.png'
            %li
              = twitter_link do
                = image_tag 'twitter-dark.png'
            %li
              = youtube_link do
                = image_tag 'youtube-dark.png'
            %li
              = itunes_link do
                = image_tag 'itunes-dark.png'
            %li
              = gplus_link do
                = image_tag 'gplus-dark.png'
        #nav-menu
          %ul
            %li= link_to 'about', '#about'
            %li= link_to 'events', '#events'
            %li= link_to 'music', '#music'
            %li= link_to 'media', '#media'
            %li= link_to 'store', '#store'
            %li= link_to 'contact', '#contact'